/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .post {
    background-color: #444;
    color: white;
    margin: 20px;
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  .post img {
    width: 100%;
    height: auto;
  }
  
  .post h2 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .post p {
    margin: 5px 0;
  }
  
  .leer-mas {
    color: #00ff00;
    text-decoration: none;
  }
  
  .leer-mas:hover {
    text-decoration: underline;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  